<h1>Users show method</h1>

 <%= render "shared/user_card", person: @user%>
<div class="user_show_container">
<div class="user_bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>

<% @user.most_recent_post.each_with_index do |post, index| %>
  <div class="post_container">
  <h4><%= link_to post.class, users_next_post_path(@user.id, post.id) %> #<%=index+1%></h4>
  <p><%= post.title %></p>
  <div class="counters">
    <span>Comments: <%= post.comments_counter %></span> 
    <span>Likes: <%= post.likes_counter%> </span>
  </div>
  </div>
<% end %>

<%= link_to 'See all posts', "#{@user.id}/posts", target: '_blank' %>
</div>