<h1>Posts show method</h1>

<div class="user_show_container">
   <div class="post_container_info">
    <h4><%= @posts.class %> #<%= @user.id %> by <%= @user.name%></h4>
    <span>Comments: <%= @posts.comments_counter%> Likes: <%= @posts.likes_counter%></span>
  </div>

    <div class="post_desc">
      <%= @posts.title%> and 
      <%= @posts.text%>
    </div>

    <div class="post_comment_limit post_comments">
      <% @comments.each do |comment| %>
        <p><%= comment.author.name%> : <%= comment.text%></p>
      <div class="modify">
      </div>

      <% if can? :destroy, comment %>
      <%= button_to 'delete', method: :delete %>
      <% end %>

      <% end %>
    </div>
      

    <div>
    <button>
      <%= link_to 'Write a comment', new_user_post_comment_path(@user.id, @posts.id) %>
    </button>

    <% if can? :destroy, @post %>
      <%= button_to 'delete', user_post_path(@user.id, @posts.id), method: :delete %>
    <% end %>
    </div>
</div>